<div>

  <div>
    <h2>Usuario</h2>
  </div>

  <div class="form-group">
    <label for="nombreUsuario">Usuario</label>
    <input type="text" class="form-control" id="nombreUsuario" placeholder="Ingrese el nombre de usuario"
           [(ngModel)]="usuario.nombre">
  </div>

  <div class="form-group">
    <label for="contrasenia">Contraseña</label>
    <input type="text" class="form-control" id="contrasenia" placeholder="Ingrese la contraseña"
           [(ngModel)]="usuario.contrasenia">
  </div>

  <select id="perfil" [ngModel]="perfilId" (change)="seleccionarPerfil($event.target.value)">
    <option *ngFor="let p of perfiles" [value]="p.id">{{p.nombre}}</option>
  </select>

</div>

<button (click)="guardar()">Guardar</button>
