<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div>

      <div>
        <h2 align="center">
          Petición acceso
        </h2>

      </div>

      <div class="form-group">
        <label for="codigoConfirmacion">Código confirmación</label>
        <input type="text" class="form-control" id="codigoConfirmacion" placeholder="Ingrese el código"
               [(ngModel)]="codigoConfirmacion">
      </div>

      <div>
        <button onclick="abrir()" style="background-color: aqua">Procesar...</button>
      </div>

    </div>

  </div>
  <div class="col-sm-4">
  </div>
</div>
