<div class="row">
  <div class="col-sm-4">
    <div class="row" *ngFor="let persona of personas; let indice = index">
      <div class="col-sm-12">
      <app-favorito-item
        [indice]="indice"
        [textoIcono]="persona.nombre[0] + persona.apellido[0]"
        [titulo]="persona.nombre + ' ' + persona.apellido"
        [subtitulo]="persona.email"
        [contenido]="persona.direccion + ', ' + persona.telefono"
        (dioClickEnEstado)="alertar($event)"
      >
      </app-favorito-item>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-login></app-login>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-registro></app-registro>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-menu-opcion></app-menu-opcion>
    </div>
  </div>
</div>

