<div class="row">
  <div class="col-sm-4">
    <div class="row" *ngFor="let persona of personas; let indice = index">
      <div class="col-sm-12">
      <app-favorito-item
        [indice]="indice"
        [textoIcono]="persona.nombre[0] + persona.apellido[0]"
        [titulo]="persona.nombre + ' ' + persona.apellido"
        [subtitulo]="persona.email"
        [contenido]="persona.direccion + ', ' + persona.telefono"
        (dioClickEnEstado)="alertar($event)"
      >
      </app-favorito-item>

      </div>
    </div>
  </div>
</div>
