.example-card {
  max-width: 400px;
}

.favorito-item-texto-icono {
  background-color: black;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.texto-icono-color-0 {
  background-color: red;
}

.texto-icono-color-1 {
  background-color: green;
}
.texto-icono-color-2 {
  background-color: blue;
}
.texto-icono-color-3 {
  background-color: yellow;
}
.texto-icono-color-4 {
  background-color: pink;
}
.texto-icono-color-5 {
  background-color: orange;
}
.texto-icono-color-6 {
  background-color: brown;
}
.texto-icono-color-7 {
  background-color: aqua;
}
.texto-icono-color-8 {
  background-color: chartreuse;
}
